<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/script.js}"></script>
</head>

<body>
<div class="navbar">
    <div class="nav-left"><h2>Task Reminder</h2></div>
    <div class="nav-right">
        <a href="/register">Register</a>
    </div>
</div>

<div class="card">
    <h2>Login</h2>

    <form action="/login" method="post">
        <input name="email" type="email" placeholder="Email" required>
        <input name="password" type="password" placeholder="Password" required>

        <button class="btn">Login</button>
    </form>

    <a href="/forgot">Forgot Password?</a>
</div>


</body>
</html>